# npm modules
node_modules
bower_components
components
build
.idea/
.sass-cache

# github analytics scripts
__forks__.bulk_dump
__forks.info__/

# sublime editor
*.sublime-project
*.sublime-workspace

